/win/hearthstoneVC110.sdf
/win/hearthstoneVC110.opensdf
/bin
/win/VC110/hearthstone-shared___Win32_Debug
/win/VC110/mainsys___Win32_Debug
/win/hearthstoneVC110.v12.suo
/win/VC110/hearthstone-logonserver___Win32_Debug
/win/ipch
/win/VC110/hearthstone-shared___Win32_Release
/win/VC110/mainsys___Win32_Release
/win/VC110/hearthstone-logonserver___Win32_Release
/win/VC110/MakeId.dat
/win/VC110/shared___Win32_Release
/win/VC110/shared___Win32_Debug
/win/moliVC110.sdf
/win/moliVC110.v12.suo
/win/moliVC110.opensdf
*.dmp
/binExe/GameWord/MakeId.Data
/binExe/GameWord/gameworld.exe
/binExe/GameWord/gameworld.ilk
/binExe/GameWord/hearthstone-world.pid
/binExe/Gate1/gamegate.exe
d-win32.asm
*.idb
*.pch
*.obj
*.suo
*.opensdf
*.sdf
*.ipch
lib/*.lib
*.ilk
*.log
*.tlog
*.lastbuildstate
*.pdb
/binExe/LuaStudio/LuaStudio.ini
/binExe/LuaStudio/LuaStudioCache.cfg
/binExe/GameWord/MakeId.dat
/binExe/GameWord/warlog
*.opendb
*.db
*.pid
/binExe/GameWord/新建文件夹
/win/VC110/ClassDiagram1.cd
/binExe/DBserver/dbserver.exe
/binExe/battle_server/battle_server.exe
/binExe/stressTest/stressTest.exe
/demo/QQLogin/Debug/QQLogin.exe
/binExe/GameWord/configs/gameworld.conf
/binExe/stressTest/stressTest.pdb
/binExe/stressTest/configs/StressConfig.conf
/binExe/LoginServer/configs/LoginServer.conf
